<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="FILE_OUT" fileName= "minigames.log"  append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
        <Console name="CONSOLE_GAME_OUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" alwaysWriteExceptions="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FILE_OUT"/>
            <AppenderRef ref="CONSOLE_GAME_OUT"/>
        </Root>
    </Loggers>
</Configuration>
